<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Database</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">

</head>

<body>
    <div id="bg-img-container"><div class="overlay"></div><img src="static/img/background.jpg" alt="cy"></div>
    <div id="app">
        <header>
            <h2 id="logo">GB</h2>
            <h1 id="name">GAMEBASE <icon>UWU</icon></h1>
            <div id="searchbar">
                <input type="text" name="" id="">
                <icon></icon>
            </div>
            <div class="tab first-tab"></div>
            <div class="tab second-tab"></div>
        </header>
    
        <main>
            <ul id="game-list">
            {% for game_data in get_game_data() %}
            <a href="games/{{ game_data["name"] }}">
                <li>
                    <div class="overlay"></div>
                    <img src="static/img/{{ game_data["name"] }}.jpeg"alt="{{ game_data["name"] }}">
                </li>
            </a>
            {% endfor %}

            </ul>
        </main>
    </body>

<!--Image to click on it -->







</body>
</html>