<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/gameTempleteStyles.css">
  <title>{{ name_title_upper[1] }}</title>
</head>

<body>
  <div id="bg-img-container">
    <div class="overlay"></div><img src="/static/img/background.jpg" alt="cy">
  </div>

  <div id="app">
    <header>
      <h2 id="logo">GB</h2>
      <a href="/" id="name">
      <h1 id="name">{{ name_title_upper[1] }}</h1>
      </a>
      <div id="searchbar">
      </div>
      <div class="tab first-tab"></div>
      <div class="tab second-tab"></div>
    </header>
    <main>
      <div id="cover">
        <!-- editar para el post  method = "post" -->
        <form action="/games/{{ name_star_tuple[1] }}/star/" method="post">
          <div id="rating">
            <button class="star" value="1" id="selection" name="selection">
              <!-- If statement to check picutre depending on how many stars are in csv corresponding to the game -->
              {% if stars >= 1 %}
                <img src="/static/img/rankingyellow.png" alt=" amarillo">
              {% else %}

                <img src="/static/img/rankingblack.png" alt="negro">

              {% endif %}
            </button>
            <button class="star" value="2" id="selection" name="selection">
              {% if stars >= 2 %}

                <img src="/static/img/rankingyellow.png" alt=" amarillo">

              {% else %}

                <img src="/static/img/rankingblack.png" alt="negro">


              {% endif %}
            </button>
            <button class="star" value="3" id="selection" name="selection">

              {% if stars >= 3 %}

                <img src="/static/img/rankingyellow.png" alt=" amarillo">

              {% else %}

              <img src="/static/img/rankingblack.png" alt="negro">

              {% endif %}

            </button>
            <button class="star" value="4" id="selection" name="selection">

              {% if stars >= 4 %}
                <img src="/static/img/rankingyellow.png" alt=" amarillo">
              {% else %}
                <img src="/static/img/rankingblack.png" alt="negro">
              {% endif %}
            </button>

            <button class="star" value="5" id="selection" name="selection">

              {% if stars >= 5 %}
                <img src="/static/img/rankingyellow.png" alt=" amarillo">
              {% else %}

                <img src="/static/img/rankingblack.png" alt="negro">

              {% endif %}

            </button>
          </div>

        </form>


        <img src="/static/img/{{name_star_tuple[1]}}.jpeg" alt="cy">
      </div>
      <section id="info">
        <article class="green">
          <h2>Description</h2>
          <hr />
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime exercitationem consequuntur at animi natus
            laudantium aspernatur voluptas reprehenderit. Dolorum iste ad non, sit tempore nesciunt! Quis perferendis
            beatae natus amet.</p>
        </article>
        <article class="orange">
          <span id="concated-header">
            <h2>Platforms : </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, dolore! Error, sunt quibusdam! Corporis
              maiores ullam rem minima esse laborum consectetur nisi quae eos quis, magnam perspiciatis, incidunt
              accusamus qui!</p>
          </span>
          <hr />
          <h3>More Information</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur soluta provident nisi, nam nihil cumque
            debitis enim ratione repellat quos rem suscipit voluptatem quas quo? Rerum amet labore quia nostrum.</p>
          <h3>Video:</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/O91DT1pR1ew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </article>
      </section>
      <!-- <form action = "/games/minecraft.html/star/" method = "post">
        <label for="stars">Rate the game:</label>
        <select id="stars" name="stars">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input type="submit">
      </form> -->
    </main>


</body>

</html>