<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft</title>
</head>
<body>


    <!-- Example for webpage code -->

    <form action = "/games/minecraft.html/star/" method = "post">
        <label for="stars">Rate the game:</label>
        <select id="stars" name="stars">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input type="submit">
      </form>
    
        <p>{{ stars }}</p>


</body>
</html>